/***********************************************************************
 *                    N O R M A L I Z A T I O N
 */

/* Normalizes margin, padding */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td { 
    margin : 0; 
    padding : 0; 
}

/* Normalizes font-size for headers */
h1, h2, h3, h4, h5, h6 { 
    font-size : 100%; 
}

/* Removes list-style from lists */
ol, ul { 
    list-style : none; 
}

/* Normalizes font-style and font-weight to normal */
address, caption, cite, code, dfn, em, strong, th, var { 
    font-style : normal;
    font-weight : normal; 
}

/* Removes list-style from lists */
table { 
    border-collapse : collapse; 
    border-spacing : 0; 
}

/* Removes border from fieldset and img */
fieldset,img { 
    border : 0; 
}

/* Left-aligns text in caption and th */
caption, th { 
    text-align : left; 
}

/* Removes quotation marks from q */
q:before, q:after { 
    content: ''; 
}

pre {
    font-size: 100%;
}

/***********************************************************************
 *                          L A Y O U T
 */

html { 
    width: 100%;
    min-height: 100%;
}

body {  
    width: 45em;
    min-height: 100%;
    height: auto;
    text-align: left;
    margin: 0 auto;
}

#container {
    padding: 1em;
    min-height: 100%;
    background-image: none;
}

#portrait { 
}

#interests { 
    margin-top: 3em;
    padding-right: 2em;
}

#subtitle { 
    margin-top: -1em;
    text-align: center;
}

h1 {
    white-space: nowrap;
}

/***********************************************************************
 *                          C O L O U R
 */

html { 
    color: #000;
    background: #f2f2f2;
}

#container {  
    background: #fafafa none repeat-y;
    border-left: solid 1px #dedede;
    border-right: solid 1px #dedede;
}

hr:before { 
    /* HACK Should not be in :before ... doesn't work in firefox,
    works in Konqeror */
    content: '~';
}


/***********************************************************************
 *                      T Y P O G R A P H Y
 */

html { 
    font-family: 'Gill Sans', 'Gill Sans Std', 'Gill Sans MT', sans-serif;

    /* Different default size on monospace (12pt) and other fonts (16
     * pt) in firefox and ie (not konqueror). Because of this I need to
     * set a fixed font size as default (I usually prefer font-size:
     * 100%). */
    font-size: 12pt; 
    height: 100%;
}

body {
  height: 100%;
}

#container {
  min-height: 100%;
}

h2, h3, h4, h5 { 
    margin-bottom: 1em;
    font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
}

h2 {
    font-size: 1.2em;
}

ul, ol { 
    margin: 1em 0 1em 2em;
}

ol { 
    list-style-type: decimal;
}

ul { 
    list-style-type: disc;
}

li { 
    margin-bottom: 0.25em;
}

dl { 
    margin-bottom: 1em;
}

dd { 
    font-weight: bold;
}

dt { 
    padding-left: 2em;
}

hr { 
    width: 0;
    font-family: monospace;
    text-align: center;
    border: 0;
    margin-bottom: 1em;
    margin-top: 1em;
}

p { 
    margin-bottom: 1em;
}

em { 
    font-style: italic;
}

a { 
    text-decoration: none;
}

p a, ul a, ol a { 
    text-decoration: underline;
}

strong { 
    font-weight: bold; 
}

.date {
    font-style: italic;
    font-size: smaller;
}

.sponsor { 
    margin-top: 4em;
    font-size: small;
    text-align: center;
}

.notice { 
    font-size: small;
    font-style: italic;
}

.bibliography { 
    margin: 0;
    list-style-type: none;
}

.bibliography li { 
    margin-bottom: 1em;
}

#menu { 
    float: left;
    width: 96%;
    border-top: 0.08em solid black;
    border-bottom: 0.08em solid black;
    margin-bottom: 1em;
    margin-right: 4em;
    padding: 0.3em 1em;
}

#interests ul {  
    list-style-type: none;
}

#subtitle { 
    font-style: italic;
}

div { 
    margin-bottom: 1em;
}

.illustration { 
    text-align: center;
}

span.credit { 
    font-size: 0.5em;
}

#back-catalogue {
    float: right;
    width: 15em;
    border-left: thin solid #aaa;
    font-size: smaller;
    margin-left: 1em;
}

#back-catalogue ol {
    margin-left: 1em;
}

#back-catalogue li {
    list-style-type: none;
}

#copy {
  padding-top: 2em;
  font-style: italic;
  text-align: center;
  font-size: small;
}

ul.posts {
  list-style-type: none;
  margin-left: 0;
}

ul.posts > li {
  margin-bottom: 2em;
}

ul.posts h2 {
  font-weight: normal;
}